@charset "UTF-8";

@font-face {
    font-family: Constantia, 'Lucida Bright', 'DejaVu Serif', Georgia, 'serif';
    font-weight: normal;
    font-style: normal;
}
a:link {color: #0000ff;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    line-height: normal;
    display: inline-block;
 }

a:hover { text-decoration: none; 
	border-bottom: 1px solid #bd0020;
	-webkit-transition: border-bottom .3s ease-in-out;
-moz-transition: border-bottom .3s ease-in-out; -o-transition: border-bottom .3s ease-in-out;  
}

/*html{
	background-color:black;
	
}*/

body{
	margin: 0; /*gets rid of white space around body*/
	max-width: 1600px;
	max-height: 800px;
	color: black;
	font-family: Constantia, 'Lucida Bright', 'DejaVu Serif', Georgia, 'serif';
	text-transform: capitalize;
  	position: relative; /*REQUIRED Sets up positioning for your footer*/
}
#containerSmall{
	width: 1024px;
	height: 768px;
	position: relative;
	background-color:white;
	z-index: 0;
	}
#buttonHold{
	top: 40px;
	left: 100px;
	height: 240px;
	width: 420px;
	border: none;
	cursor: pointer;
	position: absolute;
}
#zPos{
	top: 40px;
	left: 50px;
	height: 20px;
	width: 160px;
	position: absolute;
	background-color: #AEE;
	border: 1px solid #888;
	border-radius: 4px;
	text-align: center;
	line-height: 120%;
	vertical-align: middle;
	cursor: pointer;
	z-index: 8;
}
#zPos:hover{
	background-color: #ABB;
}
#chg{
	top: 200px;
	left: 300px;
	height: 230px;
	width: 575px;
	cursor: pointer;
	position: absolute;
	z-index: 1;
	background-image: url(red.png);
	background-size: 100%;
}
#chg2{
	top: 200px;
	left: 300px;
	height: 230px;
	width: 575px;
	cursor: pointer;
	position: absolute;
	z-index: 2;
	background-image: url(yellow.png);
	background-size: 100%;
}
#chg3{
	top: 201px;
	left: 300px;
	height: 230px;
	width: 575px;
	cursor: pointer;
	position: absolute;
	z-index: 3;
	background-image: url(blue.png);
	background-size: 100%;

}

#chg4{
	top: 250px;
	left: 150px;
	width: 150px;
	height: 150px;
	cursor: pointer;
	position: absolute;
	z-index: 4;
}

.container{
	width: 1022px;
	height: 766px;
	float: left;
	border-style: solid;
	border-width: 1px;
	border-color: #909;
	/*margin-top:20px;*/
	background-color: #1DD989;
}

#c4{
	top: 350px;
	left: 150px;
	width: 150px;
	height: 150px;
	background-color: #FF0;
	cursor: pointer;
	position: absolute;
	z-index: 6;
}
#c4:hover{
	background-color: #F40;
}